/* Webfont: OZZOMBIEFILLED-Regular */@font-face {
    font-family: 'OZZOMBIEFILLED';
    src: url('OZZOMBIEFILLED.eot'); /* IE9 Compat Modes */
    src: url('OZZOMBIEFILLED.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('OZZOMBIEFILLED.woff') format('woff'), /* Modern Browsers */
         url('OZZOMBIEFILLED.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

